@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500&display=swap');
h1 {
    margin: center;
    color: #ffffff;
}

/* ปรับการจัดวางหัวข้อ */
h2 {
    font-size: 18px;
    text-align: center;
    /* จัดข้อความให้อยู่กลาง */
    margin-bottom: 5px;
    /* ลดระยะห่างด้านล่างของหัวข้อ */
}

/* ปรับฟอนต์และขนาดของตัวหนังสือให้เหมาะสม */
body {
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: "Poppins", serif;
    font-size: 14px;
    background-color: #1c0825;
    /* เพิ่มพื้นหลังสีอ่อน */
    place-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    

}

@keyframes gradient {
	0% {
		background-position: 0% 50% 75% 100%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Toolbar styling */
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* ใช้ความกว้างเต็มจอ */
    padding: 10px 20px;
    color: white;
    height: 60px;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text_profile {
  
    
    font-size: 60px;
    /* ปรับขนาดใหญ่ขึ้นเล็กน้อย */
    font-weight: 600;
    /* ใช้ font-weight ที่หนาพอดี */
    color: #ffffff;
    /* สีตัวอักษรเป็นสีขาว */
    text-align: center;
    margin: 0 auto;
    flex: 1;
    /* ให้ตัวอักษรขยายเพื่อครอบคลุมพื้นที่ที่เหลือ */
    padding-left: 0px;
    /* ขยับไปทางขวานิดหน่อย */
    letter-spacing: 1px;
    /* เพิ่มระยะห่างระหว่างตัวอักษรเล็กน้อย */
    font-family: "Poppins", serif;
    /* ใช้ฟอนต์ที่ดูทันสมัยและอ่านง่าย */
}
.team-text {
  margin-right: 10px; /* ปรับระยะห่างด้านขวาตามต้องการ */
}

.for-text {
  margin-right: 10px; /* ปรับระยะห่างด้านขวาตามต้องการ */
}

.brainblank-text {
  margin-left: 10px; /* ปรับระยะห่างด้านซ้ายตามต้องการ */
}

/* การ์ด */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;}

/* From Uiverse.io by Smit-Prajapati */ 
.card {
    margin-right: 50px;
    width: 420px;
    height: 420px;
    background: white;
    border-radius: 32px;
    padding: 3px;
    position: relative;
    box-shadow: #604b4a30 0px 70px 30px -50px;
    transition: all 0.5s ease-in-out;
  }
  
  @media only screen and (max-width: 700px) {
      .card {
          width: 90%;
          left: 50px;
      }
  }
  .card .mail {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;
  }
  
  .card .mail svg {
    stroke: #D4BEE4;
    stroke-width: 3px;
  }
  
  .card .mail svg:hover {
    stroke: #9B7EBD;
  }
  
  .card .profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    border-radius: 29px;
    z-index: 1;
    border: 0px solid #D4BEE4;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
  }
  
  .card .profile-pic img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card .profile-pic svg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: #3B1E54;
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  
  .card .bottom .content {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 160px;
  }
  
  .card .bottom .content .name {
    display: block;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: "Poppin", sans-serif;
    margin-top: -2rem;
  }
  
  .card .bottom .content .about-me {
    display: block;
    font-size: 0.9rem;
    color: white;
    font-family: "Kanit", sans-serif;

    
    
  }
  
  .card .bottom .bottom-bottom {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card .bottom .bottom-bottom .social-links-container {
    display: flex;
    gap: 1rem;
  }
  
  .card .bottom .bottom-bottom .social-links-container svg {
    height: 50px; /* ปรับขนาดให้ใหญ่ขึ้น */
    width: px; /* กำหนดความกว้างเพื่อให้ได้ขนาดสัดส่วนที่ใหญ่ขึ้น */
    fill: white;
    filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
  }
  
  .card .bottom .bottom-bottom .social-links-container svg:hover {
    fill: #9B7EBD;
    transform: scale(1.2);
  }
  
  .card .bottom .bottom-bottom .button {
    height: 40px;
    background: white;
    color: #3B1E54;
    border: none;
    border-radius: 20px;
    font-size: auto;
    padding: 0.4rem 0.6rem;
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
  }

  
  .card .bottom .bottom-bottom .button:hover {
    background: #9B7EBD;
    color: white;
  }
  
  .card:hover {
    border-top-left-radius: 55px;
  }
  
  .card:hover .bottom {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
  
  .card:hover .profile-pic {
    width: 150px;
    height: 150px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 7px solid #3B1E54;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
  }
  
  .card:hover .profile-pic:hover {
    transform: scale(1.3);
    border-radius: 0px;
  }
  
  .card:hover .profile-pic img {
    transform: scale(2.5);
    -o-object-position: 0px 25px;
    object-position: 0px 25px;
    transition: all 0.5s ease-in-out 0.5s;
  }
  
  .card:hover .profile-pic svg {
    transform: scale(2.5);
    transition: all 0.5s ease-in-out 0.5s;
  }

  .social-icon {
    width: 28px; /* ปรับขนาดตามที่ต้องการ */
    height: 28px;
  }


  /* bubble */
  #background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}

/* text */

h1 {
  --color-one: hsl(210 80% 50%);
  --color-two: hsl(320 100% 75%);
  --stretch-multiplier: 5;
  font-size: clamp(-2rem, 10vmin, 6rem);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  display: flex;
  line-height: 1;
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;  
}



[aria-hidden] {
  display: flex;
  gap: 0.02ch;
  align-items: center;
  color: #af5cf7;
}


.stretch-o {
  height: 1.12ch;
  width: calc(var(--stretch) * 1.16ch);
  translate: 0 -0.01ch;
  border: 0.25ch solid #ae86d1;
  border-radius: 1ch;
  transition: width 0.2s;
  position: relative;
}

h1 {
  --stretch: 1;
}

h1:hover {
  --stretch: var(--stretch-multiplier);
}


.stretch-o:after,
.stretch-o:before {
  content: "";
  border: 0.25ch solid var(--color);
  position: absolute;
  inset: -0.25ch;
  border-radius: 1ch;
  opacity: calc(-1 + var(--stretch));
  transition: opacity 0.2s;
}

.stretch-o:before {
  --color: var(--color-one);
}

.stretch-o:after {
  --color: var(--color-two);
  mask:
    radial-gradient(
      circle at top left,
      #3B1E54,
      transparent
    );
}